body {
    background: rgb(78, 78, 206);
    font: normal, 15 pt, Arial;
}

header {
    color: rgb(248, 248, 248);
    text-align: center;

}

section{ /*espaço no meio do site*/
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto; /* arruma as margens */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.525); /*cria a sombra da caixa*/
}

div {
    text-align: center;
    padding: 8px; /*define o espaço entre a borda e o conteudo do elemento*/
    font-style: oblique;
}

footer{
    color: rgb(12, 228, 95);
    text-align: center;
    font-style: inherit;
}